*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  background-color: #749191;
  color: aliceblue;
  padding: 130px 0 70px 0;
}

@media(max-width:768px){
  .App{
    padding-top:70px
  }
  .pageTitle{
    font-size: 6.4vw;
  }
}

.pageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  color: white;
  font-weight: bold;
  padding: 4px;
  border-radius: 50px;
}